/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors  */
    --main-col: #141922;
    --footer-col: #282828;
    --aside-col: #000000;
}

/* Generics  */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Utils  */
.container{

}

.flex{
    display: flex;
}




/* to be deleted  */
main{
    display: flex;
    background-color: var(--main-col);
    flex-grow: 1;
    overflow-y: auto;
}

p{
    overflow: auto;
    color: aliceblue;
}

aside{
    flex-shrink: 0;
    width: 300px;
    height:100%;
    background-color: black;
}

.border{
    border: 1px dashed red;
}





/* Footer section  */
footer{
    background-color: var(--footer-col);
    height: 100px;
    flex-shrink: 0;
}