/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors  */
    --primary-txt-col: #ffffff;
    --secondary-txt-col: #797A7F;
    --main-bg-col: #141922;
    --footer-bg-col: #282828;
    --aside-bg-col: #000000;
    --active-border-col:#ADFF30;

}

/* Generics  */
body{
    color: var(--primary-txt-col);
    font-family: 'Montserrat';
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    background-color: var(--main-bg-col);
    flex-grow: 1;
    overflow-y: auto;
}

aside{
    background-color: var(--aside-bg-col);
    height:100%;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 5px 10px;
}

footer{
    background-color: var(--footer-bg-col);
    padding: 10px;
    justify-content: space-between;
}

img{
    max-width: 100%;
    display: inline-block;
}

button{
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    color: var(--primary-txt-col);
    font-size: 10px;
    font-weight: bolder;
    padding: 5px 20px;
}

section{
    margin: 10px 0;
}

ul{
    font-size: 10px;
    list-style-type: none;
}

a, p{
    font-size: 10px;
    color: var(--secondary-txt-col);
    text-decoration: none;
    display: block;
}

/* Utils  */
.container{
    width: 100%;
    overflow: auto;
    padding: 0 10px;
}

.flex{
    display: flex;
}

.row{
    flex-wrap: wrap;
    margin: 10px -10px;
}

.col{
    flex-basis: 50%;
    padding: 10px;
    

}

.card{
    height: 200px;
}

.brd-radius{
    border-radius: 50%;
}

/* Main  */

section>h1{
    margin: 10px 0;
}

/* aside  */
.sidebar img{
    width: 20px;
    margin: 5px 0;
}

.sidebar a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.playlist{
    margin-top: 20px;
}

.playlist>li{
    padding: 5px 0;
}

.label{
    display: none;
}


/* Main Header  */
.main-header{
    background-color: rgba(7, 11, 18, 0.7);
    align-items: center;
    justify-content: flex-end;
    margin: 0 -10px;
    padding: 10px;   
    position: sticky; 
    top: 0;
    right: 0;
    left: 0;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 20px;
    padding: 5px;
    gap: 10px;
}
.nav-bar li{
    display: flex;
    flex-direction: column;
align-items: center;
}




/* Footer */
.footer-left{
    width: 200px;
    height: 50px;
}
.footer-cntr{
    width: 400px;
    height: 50px;
}
.footer-right{
    width: 200px;
    height: 50px;
}




/* to be deleted  */
.border{
    border: 1px dashed red;
}

.btm-active-border{
    border-bottom: 1px solid #ADFF30;
    width: 40%;
}

.btm-active-border{
    border-left: 1px solid #ADFF30;
}


.hidden{
    display: none;
}




