/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors  */
    --main-col: #141922;
    --footer-col: #282828;
    --aside-col: #000000;
}

/* Generics  */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Utils  */




/* to be deleted  */
main{
    background-color: var(--main-col);
    flex-grow: 1;
    overflow-y: auto;
}

h1{
    color: aliceblue;
}




/* Footer section  */
footer{
    background-color: var(--footer-col);
    height: 100px;
    flex-shrink: 0;
}